* @prism-science/sampleworks-core abbas@astera.org denis@astera.org @mag-astera

/analyses/ @prism-science/sampleworks-core
/docker/ @prism-science/sampleworks-core abbas@astera.org @mag-astera
/experiments/ @prism-science/sampleworks-core

# The core code should require scientist approval to merge
/src/sampleworks/ @k-chrispens @marcuscollins @DorisMai

/src/sampleworks/runs/ @prism-science/sampleworks-core abbas@astera.org
/tests/ @prism-science/sampleworks-core
